*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
    
}
.main{
    background-color: rgb(22, 94, 94);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.box{
     background: rgb(48, 129, 129);
    min-width: 400px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 90%);
    font-size:20px;
    padding: 10px;
    margin-top:10px;
}

.row{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}
input:focus-visible{
    outline: 0;
}
label{
    user-select: none;
}
#btn
{
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: rgb(23, 100, 100);
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}
#pass-box
{
    background-color: white;
    display: flex;
    font-size:30px;
    padding: 10px;
}